*.pdf -crlf -diff -merge filter=lfs diff=lfs merge=lfs -text
*.mat -crlf -diff -merge filter=lfs diff=lfs merge=lfs -text
*.mdlp -crlf -diff -merge
*.slxp -crlf -diff -merge
*.sldd -crlf -diff -merge
*.mexa64 -crlf -diff -merge
*.mexw64 -crlf -diff -merge
*.mexmaci64 -crlf -diff -merge
*.xlsx -crlf -diff -merge
*.docx -crlf -diff -merge
*.jpg -crlf -diff -merge
*.png -crlf -diff -merge