.DS_Store
OGLdpf.log

NeuroRobotToolbox/__pycache__/*
NeuroRobotToolbox/ai.py
NeuroRobotToolbox/rcnn*
NeuroRobotToolbox/Google_Credentials_Speech2text.json
NeuroRobotToolbox/*.asv
NeuroRobotToolbox/AI
