.DS_Store
OGLdpf.log

legacy/NeuroRobotToolbox/Nets/rcnn5heads.mat
legacy/NeuroRobotToolbox/__pycache__/*
legacy/NeuroRobotToolbox/ai.py
legacy/NeuroRobotToolbox/rcnn*
legacy/NeuroRobotToolbox/Google_Credentials_Speech2text.json
legacy/NeuroRobotToolbox/*.asv
