.DS_Store
OGLdpf.log


NeuroRobotToolbox/speech2text
NeuroRobotToolbox/__pycache__/*
NeuroRobotToolbox/ai.py
NeuroRobotToolbox/rcnn*
NeuroRobotToolbox/Google_Credentials_Speech2text.json
NeuroRobotToolbox/*.asv

NeuroRobotToolbox/Nets/rcnn5heads.mat